/* mobile screen 320px for HOME PAGE */
@media (max-width:480px) {
    nav img {
        width: 135px;
        margin: 5px 0 0 -25px;
    }
    .header {
        width: 28%;
    }
    .fa-bars {
        position: absolute;
        top: 23px;
        right: 0;
        margin-right: 10px;
    }
    .hero-btn {
        flex-direction: row;
        padding: 5px 8px 5px 7px;
        margin: 0 0px 0 -40px;
    }
    .hero-btn p {
        flex-direction: row;
        font-size: 10px;
        width: 60px;
    }
     .nav-link ul li {
        display: block;
    }
    .nav-link {
        position: absolute;
        background: black;
        /* height: 100vh; */
        width: 100%;
        top: -125px;
        left: 0px;
        /* right: -200px; */
        text-align: center;
        z-index: 2;
        transition: 1s;
    }
    
    .nav-link .fa-times {
        /* display: block; */
        margin: 10px -150px 0 0;
        top: 10px;
        right: 10px;
    }
    .nav-link ul{
        margin: 0 58px 0 -62px; 
    }
    nav .fa {
        display: block;
        margin-right: 5%;
    }
    .imagebackground {
        min-height: 70vh;
    }
    .text-box p {
        font-size: 22px;
        line-height: 30px;
        letter-spacing: 0;
    }
    .text-box {
        top: 46.5%;
        width: 80%;
    }

    .row {
        display: none;
    }

    .app {
        width: 100%;
        padding: 5px 0px;
    }
    .app h2 {
        font-size: 28px;
        width: 80%;
        margin-left: 30px;
        margin-top: 0;
    }

    .call {
        flex-direction: column;
        padding: 0;
    }

    .app-col {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .call h3 {
        font-size: 20px;
    }
    .call p {
        width: 82%;
        font-weight: 350;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        /* padding: 5px 15px; */
    }

    .Analyze {
        flex-direction: column;
        /* padding: 0 0 180px 0; */
    }

    .analyze1 {
        width: 80%;
        /* margin: 50px 15px 30px 20px; */
    }

    .Analyze .img {
        width: 40%;
        margin: 0 10%;
    }

    .User {
        flex-direction: column;
        padding: 0;
    }

    .user1 {
        width: 80%;
        margin: 5px 15px 30px 20px;
    }
    .User .img {
        width: 150px;
    }
    .User .img img{
        width: 100%;
        /* margin: 0px 81px; */
    }

    .Develop {
        flex-direction: column;
        padding-bottom: 0%;
    }
    .develop1 {
        width: 80%;
    }

    .Develop .img {
        width: 200px;
        /* padding: 0px 0px 0px 50px; */
    }
    .unpress1 {
        width: 80%;
    }

    .Unpress {
        flex-direction: column;
        /* padding: 20px; */
    }

    .Unpress .img {
        width: 125px;
        padding: 0;
    }
    .last .last-col2 {
        width: 85%;
    }
    .den h2 {
        padding: 25px;
    }
    .den p {
        padding: 25px;
    }
    .fun {
        flex-direction: column;
        align-items: center;
        padding: 5px;
    }
    .fun-col {
        width: 250px;
    }
    .foot-row {
        flex-direction: column;
        padding: 0px;
    }
    .foot-col {
        width: 90%;
        padding: 5px;
    }
    .foot-col2 {
        width: 40%;
        padding: 60px 20px;
    }
    .foot-col3 {
        width: 95%;
        margin: 10px;
    }
    .end-foot {
        padding: 10px 20px;
    }
    .scrolltop{
        bottom: 10px;
        right: 20px;
        font-size: 10px;
    }
    .cus3 {
        flex-direction: column;
        margin: 60px 10px;
        width: 85%;
        font-size: 12px;
    }
    .last {
        flex-direction: column;
        padding: 0;
    }
    .customer {
        display: flex;
        flex-direction: column;
    }
    .clients {
        width: 85%;
        display:flex;
        flex-direction: column;
        align-items: center;
        padding: 0 5%;
    }
    .clientHeader {
        display: inline-flex;
    }
}
/* FOR TABLET SCREEN 481PX */
@media (min-width:481px) and (max-width:768px) {
    nav img {
        width: 160px;
        margin: 7px 0 0 -25px;
    }
    .header {
        width: 50%;
    }
    .nav-link ul{
        display: flex;
        align-items: center;
        margin-right: 70%;
    }
    .nav-link ul li a {
        color: rgb(228, 149, 47);
        text-decoration: none;
        font-size: 13px;
        cursor: pointer;
    }
    /* .fa-bars {
        position: absolute;
        top: 30px;
        right: 27px;
        margin-right: 10px;
    } */
    .hero-btn {
        flex-direction: row;
        /* padding: 5px 8px 5px 7px; */
        margin: 40px 0 40px -80px;
    }
    .hero-btn p {
        flex-direction: row;
        font-size: 10px;
        width: 60px;
    }
     .nav-link {
        display: flex;
        flex-direction: row;
    }
   
    .text-box p {
        font-size: 32px;
        line-height: 45px;
        letter-spacing: 0;
    }
    .text-box {
        top: 56%;
        width: 80%;
    }

    .row {
        display: none;
    }

    .app {
        width: 100%;
    }

    .call {
        flex-direction: column;
        /* padding: none; */
    }
    .call p {
        max-width: none;
    }

    .app-col {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 15px;
        margin: 10px;
    }

    .call p {
        width: 100%;
        text-align: center;
        padding: 5px 15px;
    }

    .Analyze {
        flex-direction: column;
        padding: 0 0 30px 0;
        align-items: center;
    }

    .analyze1 {
        width: 80%;
        margin: 50px 15px 30px 20px;
    }

    .Analyze .img {
        width: 270px;
        margin: 0 10%;
    }

    .User {
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .user1 {
        width: 80%;
        margin: 5px 15px 30px 20px;
    }
    .User .img img {
        width: 100%;
        /* padding: 0 0 0 150px; */

    }
    .User .img {
        width: 330px;
    }

    .Develop {
        flex-direction: column;
        align-items: center;
    }
    .develop1 {
        width: 85%;
    }
    .Develop .img {
        width: 350px;
        /* padding: 0px 0px 0px 50px; */
        /* margin: -50px 0; */
    }

    .Unpress {
        flex-direction: column;
        padding: 20px;
        align-items: center;
        padding: 20px 0;
    }
    .unpress1 {
        width: 85%;
    }
    .Unpress .img {
        width: 260px;
        /* padding: 0px 0px 0px 80px; */
    }
    .den p {
        padding: 25px;
    }
    .fun {
        flex-direction: column;
        align-items: center;
        padding: 5px;
    }
    .fun-col {
        width: 400px;
        padding-left: 50px;
    }
    .foot-row {
        display: flex;
        padding: 0px;
    }
    .foot-col {
        width: 300px
    }
    .foot-col2 {
        width: 120px;
        padding: 10px 20px;
    }
    .foot-col3 {
        width: 300px;
        margin: 10px;
    }
    .end-foot {
        padding: 10px 20px;
    }
    .scrolltop{
        bottom: 10px;
        right: 20px;
    }
    .customer {
        display: flex;
        flex-direction: column;
    }
    .cus3 {
        flex-direction: column;
        align-items: center;
        margin: 70px 0px;
        margin: none;
        width: 85%;
    }
    .last {
        flex-direction: column;
        padding: 0;
    }
    .last .last-col2 {
        width: 85%;
    }
    .clients {
        width: 85%;
        display:flex;
        flex-direction: column;
        align-items: center;
        padding: 0 5px 30px 40px;
    }
    .clientHeader {
        display: inline-flex;
    }
}
@media (min-width:769px) and (max-width:1024px) {
    nav img {
        width: 180px;
        margin: 0 0 0 -25%;
    }
    .header {
        width: 28%;
    }
    .nav-link ul{
        display: flex;
        align-items: center;
        margin: 0 0 0 -140px;
    }
    .nav-link ul li a{
        font-size: 14px;
    }
    /* .fa-bars {
        position: absolute;
        top: 30px;
        right: 27px;
        margin-right: 10px;
    } */
    .hero-btn {
        flex-direction: row;
        /* padding: 5px 8px 5px 7px; */
        margin: 40px 0px 40px 0px;
        margin-right: -25%;
    }
    .hero-btn p {
        flex-direction: row;
        font-size: 12px;
        width: 75px;
    }
     .nav-link {
        display: flex;
        flex-direction: row;
    }
   
    .text-box p {
        font-size: 32px;
        line-height: 45px;
        letter-spacing: 0;
    }
    .text-box {
        top: 41%;
        width: 80%;
    }

    .row {
        display: flex;
        justify-content: space-evenly;
        width: 65%;
        position: absolute;
        /* align-items: center; */
        margin-left: 18%;
        /* top: -5%; */
        top: 65%;
    }
    
    .bodyContainer .row .course-col img {
        width: 65px;
    } 
    .course-col {
        width: 115px;
        margin: none;
    }

    .app {
        width: 90%;
        margin: auto;
        /* text-align: left; */
    }
    
    .call h3 {
        font-size: 16px;
        font-weight: 600;
        text-align: left;
        margin: 0px 13px;
    }
    
    .call p {
        font-size: 12px;
        color: black;
        font-weight: 350;
        line-height: 18px;
        padding: 1px;
        margin: 10px 10px 10px 10px;
        width: 90%;
    }
    
    .call {
        display: flex;
        justify-content: space-between;
        /* margin:auto; */
        padding: 10px;
    }
    
    .app-col {
        flex-basis: 24%;
        background-image: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255));
        border-radius: 5px;
        margin: 15px 0px;
        padding: 5px;
        box-sizing: border-box;
        box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.2);
        cursor: pointer;
    }
    
    .app-col img {
        width: 65px;
        margin: 0px 12px;
    }
    
    .app h2 {
        margin-top: 20px;
        text-align: center;
        font-size: 25px;
        font-weight: 300;
    }
    .analyze1 {
        width: 36%;
        margin: 50px 15px 30px 20px;
    }

    .Analyze .img {
        width: 60%;
        /* margin: 160px 0px; */
    }

    .User {
        align-items: center;
        padding: 25px;
    }

    .user1 {
        width: 37%;
        /* margin: 5px 15px 30px 20px; */
    }
    .User .img img {
        width: 100%;

    }
    .User .img {
        /* margin: 0px 81px; */
        width: 550px;
    }

    .Develop {
        /* flex-direction: column; */
        align-items: center;
        padding: 25px;
    }
    .develop1 {
        width: 35%;
        margin: 0;
    }
    .Develop .img {
        width: 518px;
        /* padding: 0px 0px 0px 50px; */
    }

    .Unpress {
        /* flex-direction: column; */
        padding: 20px;
        align-items: center;
    }
    .unpress1 {
        width: 37%;
    }
    .Unpress .img {
        width: 35%;
        /* padding: 0px 0px 0px 80px; */
    }
    .fun {
        /* flex-direction: column; */
        align-items: center;
        padding: 20px;
    }
    .fun-col {
        width: 400px;
        /* padding-left: 50px; */
    }
    .foot-row {
        display: flex;
        padding: 0px;
    }
    .foot-col {
        width: 300px
    }
    .foot-col2 {
        width: 120px;
        padding: 10px 20px;
    }
    .foot-col3 {
        width: 300px;
        margin: 10px;
    }
    .end-foot {
        padding: 10px 20px;
    }
    .scrolltop{
        bottom: 10px;
        right: 20px;
    }
    .customer {
        display: flex;
        flex-direction: column;
    }
    .cus3 {
        flex-direction: column;
        align-items: center;
        /* margin: 60px 0px; */
        margin: none;
        width: 85%;
    }
    .last {
        /* flex-direction: column; */
        padding: 0;
    }
    .last .last-col2 {
        width: 85%;
    }
    .clients {
        width: 85%;
        display:flex;
        flex-direction: column;
        align-items: center;
        /* padding: 0 5px 30px 40px; */
    }
}
@media (min-width:1025px) and (max-width:1439px){
    nav {
        height: 30px;
    }
    nav img {
        width: 180px;
        margin: 0 0 0 -25%;
    }
    .header {
        width: 28%;
    }
    .nav-link ul{
        display: flex;
        align-items: center;
        margin: 0 0 0 -140px;
    }
    .nav-link ul li a{
        font-size: 14px;
    }
    /* .fa-bars {
        position: absolute;
        top: 30px;
        right: 27px;
        margin-right: 10px;
    } */
    .hero-btn {
        flex-direction: row;
        /* padding: 5px 8px 5px 7px; */
        margin: 40px 0px 40px 0px;
        margin-right: -18%;
    }
    .hero-btn p {
        flex-direction: row;
        font-size: 12px;
        width: 75px;
    }
     .nav-link {
        display: flex;
        flex-direction: row;
    }
   
    .text-box p {
        font-size: 35px;
        line-height: 63px;
        letter-spacing: 0;
    }
    .text-box {
        top: 40%;
        width: 80%;
    }

    .row {
        display: flex;
        justify-content: space-evenly;
        width: 55%;
        position: absolute;
        /* align-items: center; */
        margin-left: 23%;
        /* top: -5%; */
        top: 65%;
    }
    
    .bodyContainer .row .course-col img {
        width: 65px;
    } 
    .course-col {
        width: 115px;
        margin: 0 5px;
    }

    .app {
        width: 90%;
        margin: auto;
        /* text-align: left; */
    }
    
    .call h3 {
        font-size: 16px;
        font-weight: 600;
        text-align: left;
        margin: 0px 13px;
    }
    
    .call p {
        font-size: 12px;
        color: black;
        font-weight: 350;
        line-height: 18px;
        padding: 1px;
        margin: 10px 10px 10px 10px;
        width: 90%;
    }
    
    .call {
        display: flex;
        justify-content: space-between;
        /* margin:auto; */
        padding: 10px;
    }
    
    .app-col {
        flex-basis: 24%;
        background-image: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255));
        border-radius: 5px;
        margin: 15px 0px;
        padding: 5px;
        box-sizing: border-box;
        box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.2);
        cursor: pointer;
    }
    
    .app-col img {
        width: 65px;
        margin: 0px 12px;
    }
    
    .app h2 {
        margin-top: 20px;
        text-align: center;
        font-size: 25px;
        font-weight: 300;
    }
    
    .analyze1 {
        width: 36%;
        margin: 50px 15px 30px 20px;
    }

    .Analyze .img {
        width: 44%;
        /* margin: 160px 0px; */
    }

    .User {
        align-items: center;
        padding: 25px;
    }

    .user1 {
        width: 36%;
        /* margin: 5px 15px 30px 20px; */
    }
    .User .img img {
        width: 100%;

    }
    /* .User .img {
        margin: 0px 81px;
    } */

    .Develop {
        /* flex-direction: column; */
        align-items: center;
    }
    .develop1 {
        width: 35%;
        margin: 0;
        padding: 25px;
    }
    .Develop .img {
        width: 43%;
        /* padding: 0px 0px 0px 50px; */
    }

    .Unpress {
        /* flex-direction: column; */
        padding: 20px;
        align-items: center;
    }
    .unpress1 {
        width: 37%;
    }
    .Unpress .img {
        width: 35%;
        /* padding: 0px 0px 0px 80px; */
    }
    .fun {
        /* flex-direction: column; */
        align-items: center;
        padding: 20px;
    }
    .fun-col {
        width: 400px;
        /* padding-left: 50px; */
    }
    .foot-row {
        display: flex;
        padding: 10px 50px;
    }
    .foot-col {
        width: 300px
    }
    .foot-col2 {
        width: 120px;
        padding: 10px 20px;
    }
    .foot-col3 {
        width: 300px;
        margin: 10px;
    }
    .end-foot {
        padding: 10px 20px;
    }
    .scrolltop{
        bottom: 10px;
        right: 20px;
    }
    .customer {
        display: flex;
        flex-direction: column;
    }
    .cus3 {
        flex-direction: column;
        align-items: center;
        /* margin: 60px 0px; */
        margin: none;
        width: 85%;
    }
    .last {
        /* flex-direction: column; */
        padding: 0;
    }
    .last .last-col2 {
        width: 85%;
    }
    .clients {
        width: 85%;
        display:flex;
        flex-direction: column;
        align-items: center;
        padding: 0 5px 30px 40px;
    }
}